@tailwind base;
@tailwind components;
@tailwind utilities;



@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
.active {
    color: #ad7925;
    border-bottom: 1px solid #ad7925 ;
    width: fit-content;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px !important; 
    color: #ad7925;        
    font-weight: bolder;       
}

@media screen and (max-width: 575px) {
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 14px !important; 
        color: white;               
        font-weight: bolder;     
       
    }
}

/* Custom bullets */
.custom-bullet {
    font-size: 16px;
    font-weight: bold;
    color: #ad7925;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s ease;

  }

  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #ad7925 !important;
  }
  
  .swiper-pagination-bullet-active.custom-bullet {
    color: white;
    transform: scale(1.2); 
    border-bottom: 2px;
  }
 

:root {
    --swiper-pagination-color: #3c4483; 
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: white; 
}


.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    padding: 5px 10px;
    background-color: black;
    color: white;

}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    background-color: black;
    color: white;
   padding: 5px 10px;

}